# .env.example - generated with dotenvx

TURSO_DATABASE_URL=''
TURSO_AUTH_TOKEN=''
BETTER_AUTH_SECRET=''
ENABLE_OPEN_AI=''
BETTER_AUTH_SECRET=''
ENABLE_OPEN_API=''
ENABLE_SSL=''
APP_HOST=''
APP_PORT=''
APINOTFOUND_MESSAGE=''
